# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Streamlit
.streamlit/

# Data folders
data/uploads/

# Models
*.bin
*.pt
*.gguf
*.pkl

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log